@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


html,body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

a {
    text-decoration: none !important;
}

* {
    outline: none !important;

}

.badge {
    font-size: 0.85em !important;
}

.text-success {
    color: #008C01 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button:focus,
.form-control:focus,
.uneditable-input:focus {
  border-color: inherit;
  box-shadow: 0px 2px 3px 0px #969696;
  outline: 0 none;
}
.btn:focus {
    outline: none !important;
  box-shadow: none !important;
  box-shadow: none !important;
}
// Color code for this project
.btn-group {
    width: 100%;
    box-shadow: 0px 2px 3px 0px #969696;
}
.btn-group > .btn {
    width: 50px;
}
.red-bg {
    background-color: #FC0A0A;
    color: #fff;
    font-weight: bold;
}
.yellow-bg {
    background-color: #FCD40A;
    color: #fff;
    font-weight: bold;
}
.orange-bg {
    background-color: #F56A21;
    color: #fff;
    font-weight: bold;
}
.light-green-bg {
    background-color: #40F328;
    color: #fff;
    font-weight: bold;
}
.dark-green-bg {
    background-color: #138D07;
    color: #fff;
    font-weight: bold;
}
// end color code
.bg-light {
    background-color: #fff !important;
}
.navbar {
    box-shadow: 0px 2px 3px 0px #dbdbdb;
}
.nav-link {
    color: #414141 !important;
    font-weight: bold;
    font-size: 18px;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    // color: rgba(0, 0, 0, 0.9);
}
.nav-item {
    margin-top: 5px;
}
.mt-6 {
    margin-top: 60px !important;
}
.form-control {
    border: 2px solid #414141;
    box-shadow: 0px 2px 3px 0px #969696;
}
.btn {
    border-radius: 0px !important;

}

//.btn-dark {
//    background-color: #ffa801 !important;
//    border: 4px solid #ffa801;
//    font-weight: bold;
//    color: #fff !important;
//}
//
//.btn-dark:hover {
//    border: 4px solid #ffa801;
//    background-color: transparent !important;
//    color: #ffa801 !important;
//}

.btn-dark {
    background-color: #414141 !important;
    border: 4px solid #414141;
    font-weight: bold;
    color: #fff !important;
}
.btn-dark:hover {
    border: 4px solid #414141;
    background-color: transparent !important;
    color: #414141 !important;
}

.btn-outline-dark {
    background-color: transparent !important;
    border: 4px solid #414141;
    font-weight: bold;
    color: #414141 !important;
}
.btn-outline-dark:hover {
    background-color: #414141 !important;
    border: 4px solid #414141;
    color: #fff !important;
}
.btn-success {
    background-color: #138D07 !important;
    border: 4px solid #138D07;
    font-weight: bold;
}
.btn-success:hover {
    border: 4px solid #138D07;
    background-color: transparent !important;
    color: #138D07;
}
.btn-info {
    transition: all 0.2s ease, visibility 0s;
    background: #0A3942;
    border: 4px solid #0A3942;
    font-weight: bold;
    color: #fff !important;
}
.btn-info:hover {
    border: 4px solid #0A3942;
    background-color: transparent !important;
    color: #0A3942 !important;
}

.box {
    padding: 30px;
    margin: 20px;
    border: 2px solid #414141;
    box-shadow: 0px 2px 3px 0px #969696;
    border-radius: 5px;
}
.heading_txt {
    font-weight: 900 !important;
    color: #414141;
}
.devider {
    border-top: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.score-priority:hover {
    background-color: transparent !important;
}
.applicants {
    width: 100%;
}
label:hover {
    color: #000 !important;
}
label.btn.score-priority {
    margin-bottom: 5px;
}
tr.noBorder td {
    border: 0;
}
.member-box {
    border: 4px solid #000;
    border-radius: 4px;
    padding: 20px;
}

.scorecard-table th {
    font-size: 32px;
    width: 200px;
    text-align: left ;
}

.scorecard-header-table th {
    font-size: 28px;
    width: 200px;
    text-align: left ;
}

.nav-item {
    margin-left: 10px;
}


h1,h2,h3,h4 {
    color: #414141;
}

.cta-text {
    line-height: 40px !important;
}

.cta-sky {
    background: #0A3942 !important;
    padding: 40px;
    color: #fff;
}

.cta-red {
    background: #008AFC !important;
    padding: 40px;
    color: #fff;
}

.metro-area {
    background: #065799 !important;
    padding: 40px;
    color: #fff;
}

.cta-violet {
    background: #370143 !important;
    padding: 40px;
    color: #fff;
}

.cta-red-deep {
    background: #FE2301 !important;
    padding: 40px;
    color: #fff;
}

.cta-sky h4 {
    color: #fff;
}

.cta-red h4 {
    color: #fff;
}

.cta-violet h4 {
color: #fff;
}

.cta-red-deep h4 {
color: #fff;
}

.box-black {
    border: 8px solid #414141;
    padding: 80px;
    //padding-bottom: 50px;
    font-size: 22px;
    min-height: 1008px;
}

.box-black-howitworks {
    border: 8px solid #414141;
    padding: 6px;
    font-size: 22px;
    height: 250px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-black-pricing {
    border: 8px solid #414141;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 22px;
    min-height: 180px;

}

.btn-light {
    border-width: 4px;
}

.btn-light:hover {
    background: transparent !important;
    color: #fff !important;
    border-width: 4px;
}

.container-home {
    padding: 50px;
}

footer {
    margin-bottom: 120px !important;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style: none;

}

footer ul li a{
    color: #1a1e21;
    text-decoration: none;
}

.circle-number {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}

.footer {
    border-top: 1px solid #000;
}

.table td {
    width: 50px !important;
}

.sb-expect {
    font-size: 16px;
    font-weight: bold;

}

.subheading {
    width: 620px;
    margin: 0 auto;
}

.popover-header {
    background: #138D06;
    color: #fff;
}

.number_tota_l {
    position: relative;
}

.number_tota_l i {
    position: absolute;
    top: -50px;
    right: 0;
}

.i_plus {
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 15px;
}

.msg_info_icon {
    position: absolute;
    top: 20px;
    right: 50px;
}

.criteria-photo {
    width: 200px; height: 200px; object-fit: cover;
}




  @media only screen and (min-width: 320px) and (max-width: 800px) {
      .btn {
          margin: 5px;
      }

      .table td {
          width: 250px !important;
      }


      .container-home h4 {
          font-size: 36px !important;
      }

      .subheading {
          width: 100%;
          margin: 0 auto;
      }

      .icon-left {
          margin-left: 16px;
      }

      .number_tota_l i {
          position: absolute;
          top: -10px;
          right: 10px;
      }

      .i_plus {
          font-size: 15px;
          position: absolute;
          right: -6px;
          top: 20px;
      }

      .msg_info_icon {
          position: absolute;
          top: 10px;
          right: 50px;
      }

      //.fs-3 {
      //    font-size: 30px !important;
      //    margin-bottom: 5px !important;
      //}

      label {
          width: 50px !important;
      }

      nav {
          height: 80px !important;
      }

      .navbar-nav {
          background: #ffffff;
      }

      .box-black {
          border: 8px solid #414141;
          padding: 50px 0px;
          font-size: 22px;
          min-height: inherit;
      }





  }

